{% extends 'starter.html' %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% load staticfiles %}
{% load chartit %}
{% block content %}
     <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Go</button>
    </form>
    <script>
        $(document).ready(function () {
            $('#id_date_from').datepicker({
                defaultDate: "-1w",
                changeMonth: true,
                changeYear: true,
                showAnim: 'slideDown'
            });
            $('#id_date_to').datepicker({
                defaultDate: "-1w",
                changeMonth: true,
                changeYear: true,
                showAnim: 'slideDown'
            });
        });
    </script>
    {{ cht|load_charts:"container" }}
    <div id='container'> Chart will be rendered here</div>
{{ test }}
{% endblock %}