{% extends 'starter.html' %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% load staticfiles %}
{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ pick_form }}
        <button type="submit" class="save btn btn-default">Go</button>
    </form>
    {{ ff | safe }}
{% endblock %}