{% load chartit %}
{% block content %}
    <script>
        $(document).ready(function () {
            $('#id_date_from').datepicker({
                defaultDate: "-1w",
                changeMonth: true,
                changeYear: true,
                showAnim: 'slideDown'
            });
            $('#id_date_to').datepicker({
                defaultDate: "-1w",
                changeMonth: true,
                changeYear: true,
                showAnim: 'slideDown'
            });
        });
    </script>
    {{ cht|load_charts:"container" }}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Go</button>
    </form>
    <div id='container'> Chart will be rendered here</div>
{% endblock %}
